@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%">
    <h1>Islam Turky</h1>
    <h4>Welcome To Students Affairs App</h4>
</div>